<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<!-- 全局映射器启用缓存 （为了使用redis）-->
        <setting name="cacheEnabled" value="true"/>
        
       
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />

	</settings>
	
	<typeAliases>
		<package name="com.search.bean"/>
	</typeAliases>
	
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<property name="reasonable" value="true"/>
		</plugin>
 	</plugins>

</configuration>

